body {
  font-family: "Carter One", system-ui;
  font-weight: 400;
  font-style: normal;
  background-color: black;
}

header {
  border-radius: 65px;
  background-color: #ef8733;
  padding: 20px;
}


.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title img {
  height: 100px;
  width: auto;
  animation: lightSpeedInLeft;
  animation-duration: 0.4s;
}

header h1 {
  font-family: "Carter One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: black;
}

h1 {
  font-family: "Carter One", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 25px;
  color: #ef8733;
}

.difficulty-title {
  font-family: "Carter One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: black; 
  width: 100%;
  margin-top: 0.5rem;
  text-align: center;
}
#result1 img {
  border-radius: 25px;
  padding-top: 15px;
}

h3 {
  font-family: "Carter One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: black; 
}

.card {
  background-color: transparent;
  border: none;
}

.card-body {
  background-color: #ef8733;
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
  filter: drop-shadow(2px 2px 2px white);
}

.card-title {
  font-family: "Carter One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #ef8733;
  background-color: white;
  border-radius: 25px;
  padding: 15px;
}

footer {
  text-align: center;
  background-color: #ef8733;
  border-top-left-radius: 65px;
  border-top-right-radius: 65px;
  padding: 20px;
  margin-top: 20px;
  color: black;
}